*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{

    background:#eaf7ff;

}

.container{

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}

.login-card{

    width:360px;

    background:white;

    border-radius:15px;

    padding:40px;

    box-shadow:0px 10px 30px rgba(0,0,0,.1);

    display:flex;

    flex-direction:column;

    align-items:center;

}

.login-card h1{

    color:#005a8d;

    margin-bottom:10px;

}

.login-card p{

    color:#777;

    margin-bottom:25px;

}

.login-card input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ddd;

    border-radius:8px;

    outline:none;

    transition:.3s;

}

.login-card input:focus{

    border-color:#0084d6;

}

.login-card button{

    width:100%;

    padding:12px;

    background:#005a8d;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.login-card button:hover{

    background:#0072b5;

}